h1 {
	background-color: black;
	text-align: center;
	color: silver;
	font-family: Times New Roman, italic;
}

h4 {
	margin-left	: 11%;
	margin-top: 10.5%;
	color: silver;
	background-color: #860000;
	font-size: 125%;
	width: 85%;
}
header {
	background-color: black;
	text-align: center;
}

h3 {
	margin-top: 5%;
	color: #33659b;
	font-size: 125%;
	margin-left: 10%;

}
@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}
.col-md-3 {
	font-size: 80%;
	text-decoration: bold;
}

.image {
	margin-left: 10%;
}
#image2 {
	width: 260px;
	height: 150px;
	margin-left: 10%;
}

#image3 {
	margin-left: 12%;
	width: 290px;
}

#image4 {
	width: 260px;
	height: 150px;
	margin-left: 10%;
}

#image5 {
	margin-left: 12%;
	width: 290px;
	height: 150px
}

#image6 {
	width: 200%;
	height: 200%;
	margin-left: 89%;
}
.titre {
	font-size: 90%;
	margin-left: 10%;
}

nav ul {        
	list-style-type:none;
    padding: 15px;
    margin: 0px;
    text-align:center;
    top:10%;
    margin-left:0%;
    margin-right: 0%;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 100%; 
    text-decoration: bold;  
}
nav li {        
	display:inline;
    text-align: center;
    border: solid 1px;
    
}
nav li a {
    text-decoration: none;
    color: black;
	margin: 0 2px;
	border-radius: solid 2px;
	border-color: black;
}

.couleur1{
	background-color: grey;
}
.couleur2 {
	background-color: #0066CC;
}
.couleur3 {
	background-color: #330033;
}
.couleur4 {
	background-color: red;
}
.couleur5 {
	background-color: #FF3333;
}
.couleur6 {
	background-color: #FF0033;	
}
.couleur7 {
	background-color: #333333;
}
.couleur8 {
	background-color: #339900;
}
.couleur9 {
	background-color: #33FF00;
}
.couleur10 {
	background-color: #3399FF;
}
.couleur11 {
	background-color: #006666;
	
}
.couleur12 {
	background-color: #FF6600;
}
.couleur13 {
	background-color: #333333;

}
.couleur14 {
	background-color: gold;
}


p {
	color: ;
	font-size: 75%;
	margin-left: 10%;
}

.p1 {
	margin-left: 12%;
}
.p2 {
	margin-left: 12%;
}

.p3 {
	margin-left: 10%;
}

li {
	background-color: white;
	width: 95%;
}
.h3 {
	font-size: 95%;
	margin-left: 11%;
	color: blue;
}

.hh3 {
	font-size: 95%;
}

.pp3 {
	margin-right: 10%;
	font-size: 105%;
}

body {
	background-color: black;
}

#lien_lagarde {
	margin-left: 45%;
}

