
h4 {
	margin-left	: 11%;
	margin-top: 10.5%;
	color: silver;
	background-color: #860000;
	font-size: 125%;
	width: 85%;
}
header {
	font-size: 75%;
	background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}

h1 {	
	text-align: center;
	color : black;
	margin-top: 1%;
}

h3 {
	margin-top: 5%;
	color: #33659b;
	font-size: 125%;
	margin-left: 10%;

}
@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}
.col-md-3 {
	font-size: 80%;
	text-decoration: bold;
}

.image {
	margin-left: 10%;
}
#image2 {
	width: 260px;
	height: 150px;
	margin-left: 10%;
}

#image3 {
	margin-left: 12%;
	width: 290px;
}

#image4 {
	width: 260px;
	height: 150px;
	margin-left: 10%;
}

#image5 {
	margin-left: 12%;
	width: 290px;
	height: 150px
}

#image6 {
	width: 200%;
	height: 200%;
	margin-left: 89%;
}

#image7 {
	width: 200%;
	height: 200%;
	margin-left: 50%;
}

#image8 {
	width: 200%;
	height: 200%;
	margin-top: 30%;
	margin-left: 89%;
}

#image9 {
	width: 200%;
	height: 200%;
	margin-top: 30%;
	margin-left: 50%;
	
}

#image10 {
	width: 200%;
	height: 200%;
	margin-top: 30%;
	margin-left: 89%;
}

#image11 {
	width: 200%;
	height: 200%;
	margin-top: 30%;
	margin-left: 50%;
}

#image12 {
	width: 200%;
	height: 200%;
	margin-top: 30%;
	
}
.titre {
	font-size: 90%;
	margin-left: 10%;
}

nav ul {        
	list-style-type:none;
    padding: 15px;
    margin: 0px;
    text-align:center;
    top:10%;
    margin-left:0%;
    margin-right: 0%;
    margin-top: 1%;
    font-family: sans-serif;
    font-size: 100%; 
    text-decoration: bold;  
}
nav li {        
	display:inline;
    text-align: center;
    border: solid 1px;
    
}
nav li a {
    text-decoration: none;
    color: black;
	margin: 0 2px;
	border-radius: solid 2px;
	border-color: black;
}

.couleur1{
	background-color: grey;
}
.couleur2 {
	background-color: #0066CC;
}
.couleur3 {
	background-color: #330033;
}
.couleur4 {
	background-color: red;
}
.couleur5 {
	background-color: #FF3333;
}
.couleur6 {
	background-color: #FF0033;	
}
.couleur7 {
	background-color: #333333;
}
.couleur8 {
	background-color: #339900;
}
.couleur9 {
	background-color: #33FF00;
}
.couleur10 {
	background-color: #3399FF;
}
.couleur11 {
	background-color: #006666;
	
}
.couleur12 {
	background-color: #FF6600;
}
.couleur13 {
	background-color: #333333;

}
.couleur14 {
	background-color: gold;
}


p {
	color: ;
	font-size: 75%;
	margin-left: 10%;
}

.p1 {
	margin-left: 12%;
}
.p2 {
	margin-left: 12%;
}

.p3 {
	margin-left: 10%;
}

li {
	background-color: white;
	width: 95%;
}
.h3 {
	font-size: 95%;
	margin-left: 11%;
	color: blue;
}

.hh3 {
	font-size: 95%;
}

.pp3 {
	margin-right: 10%;
	font-size: 105%;
}


#lien_lagarde {
	margin-left: 45%;
}

#lien_scientifique{
	margin-left: 35%;
}

#lien_politique {
	margin-top: 10%;
	margin-left: 45%;
}
#lien_politiquefr {
	margin-top: 10%;
	margin-left: 35%;
}

#lien_alep {
	margin-top: 10%;
	margin-left: 45%;

}
#lien_eta {
	margin-top: 10%;
	margin-left: 35%;
}

.nav_barre {
	top: 0px;
}

.button1 {
	background-color: transparent;
	border: none;
	color: white;
	height: 25px;
	font-size: 10px;
	border-left: 1px solid #626a72;
	border-top: none;
}

.button1:hover {

	background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}

.button2 
{
	background-color: gold;
	color: black;
}

.menuderoulant
{
	background: #17222B;
	color: white;
	text-align: center;
}
.menu{
	text-transform: uppercase;
	}
	
.menu li {
	display: inline;
	}

.home_icon
{
	width: 17px;
}

.menu a {
	color: black;
	font-weight: bold;
	background-color: white;
	border-top-width: 4px;
	border-top-style: solid;

}

#home {
	border-top: 4px solid #BBBDBF; 
}

#home:hover {
	background-color: #BBBDBF;
	border-top-color:;
}
